/* ==========================================================================
   Générique
   ========================================================================== */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==========================================================================
   Base   
    ========================================================================== */

    .wrapper{
        max-width: 1171px;
        margin-left: auto;
        margin-right: auto;
    }

/* ==========================================================================
   Components
   ========================================================================== */

   body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   }

   p{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   }

   h1{
    font-weight: 900;
    font-size: 1.75em;
    text-transform: uppercase;
   }

   h2{
    color: #d300b7;
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
   }

   h3{
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
   }

   h4{
      font-size: 2em;
      font-weight: 700;
      text-transform: uppercase;
      color: #d300b7;
   }

/* ==========================================================================
   Éléments
   ========================================================================== */

   /* Header */

   .header{
      position: sticky;
   }

   .billets{
      background-color: #fff;
      border: 4px solid #d300b7;
      padding: 10px 30px;
      cursor: pointer;
      border-radius: 50px;
      font-size: 1.125em;
      font-weight: 700;
      text-decoration: none;
      color: #d300b7;
   }

   .billets:hover{
      background-color: #d300b7;
      color: #fff;
   }

   .header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
   }

   .header ul{
    display: flex;
    list-style: none;
    gap: 40px;
    
   }

   .header li a{
    font-size: 1.125em;
    font-weight: 700;
    text-decoration: none;
    color: #000;
   }

   header li a:hover{
    color: #d300b7;
   }

   /* Hero */

   .hero p{
    font-size: 1.5em;
    color: #fff;
   }

   .hero a{
    color: #d300b7;
    font-size: 1.125em;
    font-weight: 700;
    text-decoration: none;
   }

   .content{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 20px;
   }

   /* Circuits */

   .circuits{
    background-color: #222;
    color: #fff;
   }

   /* Cartes */

   .intro{
    display: flex;
    justify-content: space-between;
   }

   div .cartes{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 30px;
      gap: 30px;
      background-color: #fff;
      color: #000;
   }

   article{
      align-items: center;
      justify-content: center;
   }

   article a{
      text-decoration: none;
      font-weight: 700;
      font-size: 1.125em;
      color: #d300b7;
   }

   /* Footer */

   .footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 135px;
      gap: 60px;
   }

   .footer ul{
      display: flex;
      list-style: none;
      gap: 20px;
      padding: 0;
   }

   .footer ul span{
      font-size: 2.25em;
   }

   .material-symbols-outlined{
      font-size: 1.875em;
      color: #fff;
      background: #d300b7;
      border-radius: 100%;
      height: 90px;
      width: 90px;
      display: flex;
      align-content: center;
      text-align: center;
      justify-content: center;
      text-align: center;
   }

   .material-symbols-outlined:hover{
    color: #fff;
   background-color: #000;
   }

   .footer p{
      margin-top: 60px;
   }

   .grosVelo{
      font-weight: 700;
   }